<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/product-id.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
</head>
<body>
    <header>
        <div class="site-info">
            <div class="phone-number-inf">
                <img class="phone-icon" src="/public/img/phone-call.png" alt="">
                <div class="phone-number">044 000 00 00</div>
            </div>
            <div class="site-logo">
                <p>YOUR LOGO</p>
            </div>
            <div class="bascket">
                <div class="img-bascket">
                    <img src="/public/img/cart.png" alt="">
                </div>
                <div class="text-bascket">
                    <p>My bascket</p>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="electronics">Електроніка</div>
            <div class="clothes">Одяг та взуття</div>
            <div class="cosmetics">Косметика</div>
            <div class="home">Дім та інтер'єр</div>
        </div>
    </header>
    <main>
        <div class="item-container">
            <img src="" alt="">
            <div class="info-block">
                    <a href="#">
                        <img class="product-img" src= "${item.img}" > 
                        <div class="product-name">${item.name}</div>
                    </a>
                    <div class="price">${item.price} грн</div>
                    <a href="#">
                        <form>
                            <button class="buy-button">
                                <p>Купити</p>
                            </button>   
                        </form>
                    </a>
            </div>
        </div>

    </main>

    
    <script src="/public/script/index.js"></script>
</body>
</html>